
body{
    
    background-color: #2f4f4f;
}


.Logo{
    width: 150px ;
    height: 150px;
    float: left;
        
}
h3{
    
    text-align: center;
    color: black;
}
p{
    text-align: center;
    margin-top: 30px;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h6{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    font-size: 20px;
}
#envios{
    background-color: #c9c8c3;
    padding: 10px;
}
#cards{
    margin-top: 20px;

    text-align: center;
}
#foot{
    margin-top: 20px;
}